/* HTML RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	position: fixed;
	vertical-align: baseline;
	position: relative;
}

/* RESET FOR OLDER BROWSERS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BACKGROUND/IMAGE STYLES */
.bodyWrapper {
	background-color: #2C7E9D;
}

.groceryBagImage {
	width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}

.darkBlueBase {
	background-color: #1C5970;
	padding-bottom: 40px;
	padding-top: 20px;
}

/* ADD ITEM INPUT STYLES */
.enterItemWrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

.innerWrapper {
	width: 525px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -68px;
	margin-bottom: 18px;
}

.addNewInputBig {
	width: 450px;
	height: 50px;
	border-radius: 2px 0 0 2px;
	border: none;
	font-family: Quicksand;
	font-size: 18px;
	color: #545454;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
}

.addNewInputBig:focus {
	outline: none;
}

/* ADD ITEM BUTTON STYLES */
.addNewButton {
	display: inline-block;
	font-size: 18px;
	font-family: Quicksand;
	color: white;
	position: relative;
	background-color: #C34445;
	height: 50px;
	width: 75px;
	border-radius: 0 2px 2px 0;
	border: none;
	cursor: pointer;
}

.addNewButton:hover {
	background-color: #D6696A;
}

.addNewButton:focus {
	outline: none;
}

/* APPENDED ITEM STYLES */
.whiteRec {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;
	width: 525px;
	height: 50px;
	border-radius: 2px;
	margin-bottom: 5px;
	position: relative;
}

.item {
	display: inline;
	font-family: Quicksand;
	font-size: 18px;
	color: #414541;
	position: absolute;
	left: 60px;
	margin-top: 13px;
}

.editInput {
	border: none;
	width: 400px;
	margin-top: -1px;
	margin-left: -1px;
}

.editInput:focus {
	outline: none;
}

.removeLink {
	display: inline-block;
	float: right;
	height: 15px;
	position: relative;
	margin-top: 9px;
	margin-right: 10px;
	cursor: pointer;
}

.removeLink:hover {
	text-decoration: none;
	color: #1C5970;
}

.checkboxImage {
	width: 25px;
	position: absolute;
	top: 13px;
	left: 15px;
	cursor: pointer;
}

.checkImage {
	width: 25px;
	display: none;
	position: absolute;
	top: 13px;
	left: 15px;
	cursor: pointer;
}

/* MOBILE STYLES */
@media (max-width: 767px) {
	.groceryBagImage {
		width: 300px;
	}

	.contentContainerSmall {
		margin-top: -20px;
	}

	.enterItemWrapper {
		background-color: #dedede;
		padding-bottom: 2px;
	}

	.innerWrapper {
		width: 100%;
		margin-top: 0;
		padding-top: 20px;
	}

	.addNewInputSmall {
		border-radius: 2px 0 0 2px;
		border: none;
		font-family: Quicksand;
		color: #545454;
		padding-left: 15px;
		padding-right: 15px;
		display: inline-block;
		width: 220px;
		font-size: 14px;
		height: 40px;
	}

	.addNewInputSmall:focus {
		outline: none;
	}

	.addNewButton {
		font-size: 14px;
		height: 40px;
		width: 65px;
	}

	.whiteRec {
		width: 285px;
		height: 40px;
	}

	.item {
		font-size: 14px;
		margin-top: 10px;
	}

	.editInput {
		width: 175px;
	}

	.removeLink {
		margin-top: 6px;
		margin-right: 8px;
	}

	.checkboxImage {
		width: 20px;
		top: 10px;
	}

	.checkImage {
		width: 20px;
		top: 10px;
	}
}